@import "variables.scss";

/*-------------------------------

    Global

--------------------------------- */

* {
	outline: none;
}

html,
body {
	font-family: 'Montserrat', sans-serif;
	background: $bg-color;
	color: $text-color;
	margin: 0; 
	padding: 0;
}

a {
	color: $text-color;
	text-decoration: none;
	cursor: pointer;
	position: relative;
}

select, input {
	padding: 10px;
    font-family: 'Montserrat', sans-serif;
}

.tag{
	border-radius: 15px;
	padding: 5px 10px;
	margin: 3px;
	background: black;
	display: inline-block;
	box-shadow: 0 0 2px $darker-gold;
}

button, a.button{
	transition: all .3s;
	padding: 10px 15px; 
	box-shadow: 0 0 3px $gold;
	border: none;
	background: $darker-gold;
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-size: 17px;
	cursor: pointer;
	&:hover{
		background: $gold;
	}
}

.tip{
	text-align: right;
	padding: 10px 13px 0 10px;
	svg{
		margin-top: -4px;
		margin-bottom: 4px;
	}
}

.no-data{
	text-align: center;
	padding: 20px;
	font-weight: 18px;
}

.notif{
	position: absolute;
	top: -4px;
	right: -4px;
	background: $text-color;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	display: inline-block;
}


.loading{
    text-align: center;
}

.errors{
	text-align: center;
	padding: 20px;
	background: $red;
	ul{
		list-style-type: none;
		margin: 0;
		padding: 0;
		li{
			padding-left:0;
		}
	}
}


#back-to-top{
    position: fixed;
    bottom: -40px;
    right: 15px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
	background: $red;
	height: 40px;
	width: 40px;
    color: $text-color;
	box-shadow: 0 0 3px rgba(0,0,0,0.3);
	transition: all .3s;
	&.visible{
		bottom: 15px;
	}
}