@import '../../../common/design/variables.scss';
.admin
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    .word-line {
        display: flex;
        flex-grow: 1;
        text-align: center;
        justify-content: center;
        align-items: center;
        margin: 5px;
        a {
            background: $gold;
            height: 40px;
            width: 40px;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            margin: 0 1px;
        }
        &.valid{
            opacity: 0.5;
            &:hover{
                opacity: 0.8;
            }
        }
    }
}